<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136670084214-9i9p8d2jmmdnom5hpmlor8sqpio9srvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136670084214-9i9p8d2jmmdnom5hpmlor8sqpio9srvi</string>
	<key>API_KEY</key>
	<string>AIzaSyC62WcdKKNq_Z6dmjmxLq1yhI1fpSbt9Xo</string>
	<key>GCM_SENDER_ID</key>
	<string>136670084214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pokemon</string>
	<key>PROJECT_ID</key>
	<string>pokemon-fiap</string>
	<key>STORAGE_BUCKET</key>
	<string>pokemon-fiap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136670084214:ios:cd553069f1e5ff445ff357</string>
</dict>
</plist>